*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Roboto;
}
.address{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}
.address .address_title{
    margin-left: 3%;
    margin-right: 3%;
    height: 50px;
    border: 1px;
    background-color: white;
}
.address .address_title h3{
    font-size: 24px;
    color: black;
    padding-top: 10px;
    padding-left: 20px;
}
.address .address_detail{
    margin-left: 3%;
    margin-right: 3%;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 250px;
}
.address .address_detail .address_detail_title{
    background-color: blanchedalmond;
    height: 30px;
    list-style: none;
    padding-top: 10px;
}
.address .address_detail .address_detail_title b{
    padding-left: 20px;
    font-size: 16px;
}
.address .address_detail .address_detail_info {
    list-style: none;
    padding-top: 20px;
    padding-left: 20px;
}
.address .address_detail .address_detail_info ul input[type=radio]{
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    height: 20px;
    width: 20px;
}
.address .address_detail .address_button{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
}
.address .address_detail .address_button input[type=submit]{
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    color: white;
    width: 250px;
    font-size: 16px;
    background-color: red;
}
.address .address_detail .address_button input[type=submit][name=themmoi]{
    margin-right: 50px;
}
