#editcart_left{
    width: 300px;
    margin-left: 100px;
    background:#ccffcc;
    float: left;
    height: 400px;
    margin-top: 10px;
}
#editcart_left .menu_left h3{
    background: #ff6600;
    text-align: center;
    margin-top: 0px;
    font-size: 16px;
    line-height: 40px;
    color: #ffffff;
}
#editcart_left .menu_left ul{
    padding: 0px;
}
#editcart_left .menu_left ul li{
    list-style: none;
}
#editcart_left .menu_left ul li a{
    display: block;
    margin-left: 50px;
    text-decoration: none;
    line-height: 30px;
    border-bottom: 1px solid appworkspace;
    clear: left;
}


#editcart_right {
    width: 800px;
    margin-right: 100px;
    float: left;
    margin-top: 10px;
}
#editcart_right #img_pro {
    margin-left: 50px;
    margin-top: 0px;
    float: left;
}
#editcart_right #detail_pro {
    margin-top: 50px;
}
#editcart_right #detail_pro input[type=number]{
    width: 100px;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #ffffff;
}
#editcart_right #detail_pro select{
    width: 140px;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #ffffff;
}
#editcart_right #detail_pro input[type=submit]{
    width: 100px;
    margin-left: 30px;
    text-align: center;
    padding: 8px 20px;
    border: 1px solid black;
    border-radius: 4px;
    background: #ccffcc;
    
}
